= render 'navbar'
.container.vertical-center
  = form_tag app_queries_execute_path, method: :get, id: 'query_form' do
    #query-fields
      .row
        .col-lg-3
        .col-lg-2
          .form-group
            = text_field_tag "ticker", nil, placeholder: "TCKR", class: 'form-control input-lg'
        .col-lg-4
          .form-group
            = text_field_tag "query", nil, placeholder: "Property", class: 'form-control input-lg'
        .col-lg-3
          = button_tag "Compute", class: "btn btn-primary btn-lg"
    .row
      .col-lg-3
      .col-lg-6
        = button_tag "Add stock to compare", class: "btn btn-info btn-lg btn-submit", type: 'button', id: "query-vs"
      .col-lg-3

