

<%= render :partial => '/app/queries/navbar' %>

<div class="container">
	<div class="row">
		<div class="span2"></div>

		<div class="span4" style="margin-top:60px">
			<h4>Sign-up</h4>
			<br/>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>

				<div class="control-group">
					<%= f.label :email, class:"control-label" %><br />
					<%= f.email_field :email, autofocus: true, class:"input-lg", style:"height:30px;width:300px" %>
				</div>


				<div class="control-group">
					<%= f.label :password %><br />
					<%= f.password_field :password, autocomplete: "off", class:"input-lg", style:"height:30px;width:300px" %>
				</div>

				<div class="control-group">
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, autocomplete: "off", class:"input-lg", style:"height:30px;width:300px" %>
				</div>


				<div>
					<%= f.submit "Sign up", class:"btn btn-success" %>
				</div>



			<% end %>

			<%= render "devise/shared/links"  %>

		</div>

		<div class="span-3" style="margin-top:83px">
			<div class="row" align="center">
				<div class="panel panel-info" style="width:300px;">
					<div class="panel-heading">
						<h4 class="text-center">FREE PLAN</h4>
					</div>
					<div class="panel-body text-center" style="margin-bottom:-13px">
						<p class="lead" style="margin-bottom:5px">
							<p class="lead" style="margin-bottom:5px">Sign up for a free account</b></p>
						</p>
						</div>
						<ul class="list-group list-group-flush text-center" style="margin-left:0;">
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 250,000+ fundamental data points</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Instant comparative analysis</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Related news aggregation</li>
						</ul>
					</div>
					
					<br/>
					<div class="card-wrapper" style="text-align: left;"></div>
				</div>
			</div>

				
			<div class="span2"></div>
	</div>
</div>


