%header#header
  %nav#navigation{role: "navigation"}
    .container
      %br/
      .row
        .col-lg-3
          = image_tag asset_path('pennywhale-logo-white.png')
          %h4 PennyWhale
        .col-lg-6
        .col-lg-3
          %ul
            %li
              = link_to "Help", app_queries_help_path
            %li
              = link_to "Contact", "mailto:hello@pennywhale.com"
            - if current_user
              %li
                = link_to "Account", edit_user_registration_path 
            %li
              - if current_user.nil?
                = link_to "Login", user_session_path 
              - else
                = link_to "Logout", destroy_user_session_path, method: :delete
  %section#hero.center.full-viewport
    .wrapper.center{style: "height: 317px;"}
      .container{align: "center", style: "margin-top:150px"}
        .container{style: "margin-bottom:220px"}
          %h1{style: "font-weight:300;color:#fff;font-size:32px"}
            Are you ready to
            %b
              %i supercharge
            your financial research?
          %br/
          %br/
          %br/
          = render 'app/queries/search_form'
          %br/
          %span#changer
            Show me the PE Ratios for $AAPL vs $GOOG
        = image_tag asset_path('arrow.png')
.container{style: "margin-top:150px;margin-bottom:100px"}
  #features.row{style: "margin-bottom:100px"}
    .col-lg-5
      %h3{style: "color:#2480BD"} Intuitive access to financial data
      %p.lead Search for key statistics with natural English queries. With over 250,000+ data points at your fingertips, finding financial data has never been so easy.
    .col-lg-7{style: "margin-top:5px"}
      = image_tag asset_path('feature.png')
  .row{style: "margin-bottom:130px"}
    .col-lg-8
      = image_tag asset_path('feature2.png')
    .col-lg-4{style: "margin-top:75px"}
      %h3{style: "color:#2480BD"} 
        Track the big players
        %sup 
          (pro)
      %p.lead Easily follow moves of hedge funds and trendsetters. PennyWhale provides holdings for 55 major funds, spanning from Berkshire Hathaway to Greenlight Captial.
  .row{style: "margin-bottom:100px"}
    .col-lg-5{style: "margin-top:70px"}
      %h3{style: "color:#2480BD"} Comparative analysis made easy
      %p.lead Conduct research for all the securities you are tracking at once. Just search your datapoint, attach company tickers, and get results.
    .col-lg-7
      = image_tag asset_path('feature.gif')
  .row{style: "margin-bottom:130px"}
    .col-lg-8
      = image_tag asset_path('feature4.png')
    .col-lg-4{style: "margin-top:75px"}
      %h3{style: "color:#2480BD"} 
        Faster fundamental analysis
        %sup 
          (pro)
      %p.lead Instantly find and analyze financial statments. PennyWhale's automated highlighting allows you to easily find differences in financial statements across quarters.
  %hr/
  #pricing.row{align: "center", style: "margin-bottom:20px;margin-top:100px"}
    %h3{style: "color:2480BD"}
      Try it out now!
      = link_to "Sign up for free", new_user_registration_path, {style: "display:inline; margin-left:20px ", class: "btn btn-primary btn-lg", id:"bottom_signup_button"}
%footer
  #footer
    .container
      %ul
        %li{style:"margin-right:10px"} 
          = link_to("Terms of Use", pages_terms_of_use_path)
        %li{style:"margin-right:10px"} 
          = link_to("Privacy Policy", pages_privacy_policy_path)
        %li.right © 2014 PennyWhale. All Rights Reserved. 
        