#main-query-info
  - unless @intent.name == "Institutional Holdings"
    %ul
      - @output.each do |out|
        %li 
          = @intent.name 
          for 
          %strong
            = out[:ticker]
          is 
          %strong 
            = out[:data]
  - else
    #13f
      %ul.nav.nav-tabs
        - @output.each do |out|
          %li{class: ("active" if out.equal? @output.first)}
            %a{href: "##{out[:ticker]}tab", data: {toggle: 'tab'}}
              = out[:ticker]
      .tab-content
        - @output.each do |out|
          .tab-pane{id: "#{out[:ticker]}tab"}
            %table.table{data: {url: out[:data][0]}}
              %thead
                %tr
                  %th Filer
                  %th Shares Held
                  %th Market Value
                  %th % of Portfolio
                  %th Prior %
                  %th Ranking
                  %th Change in Shares
              %tbody
