#main-query-info
  - if !["Institutional Holdings", "Income Statement", "Balance Sheet", "Cash Flow Statement", "Default"].include? @intent.name
    %ul
      - @output.each do |out|
        %li 
          - if @intent.name == "Total cash"
            = @intent.name + " (mrq)"
          - else
            = @intent.name
          for 
          %strong
            = out[:ticker]
          is 
          %strong 
            = out[:data]
  - else
    - if @intent == "Institutional Holdings"
      #13f
        %ul.nav.nav-tabs
          - @output.each do |out|
            %li{class: ("active" if out.equal? @output.first)}
              %a{href: "##{out[:ticker]}tab", data: {toggle: 'tab'}}
                = out[:ticker]
        .tab-content
          - @output.each do |out|
            .tab-pane{id: "#{out[:ticker]}tab", class: ("active" if out.equal? @output.first)}
              %table.table
                %thead
                  %tr
                    %th Stock
                    %th Activity
                    %th Share change
                    %th % change to Portfolio
                %tbody
                  - out[:data].each do |row|
                    %tr
                      %td
                        = row["stock"]["text"]
                      - if row["activity"].include? "Add" or row["activity"].include? "Buy"
                        %td{style: "color:#177D0A"}
                          = row["activity"] 
                      - else 
                        %td{style: "color:#C40606"}
                          = row["activity"] 
                      %td
                        = row["share_change"] 
                      %td
                        = row["percentage"] + '%'
    - else
      %small{style:"float:right"}
        (numbers in millions)
      #FinancialStatement
        %ul.nav.nav-tabs
          - @output.each do |out|
            %li{class: ("active" if out.equal? @output.first)}
              %a{href: "##{out[:ticker]}tab", data: {toggle: 'tab'}}
                = out[:ticker]
        .tab-content
          - @output.each do |out|
            .tab-pane{id: "#{out[:ticker]}tab", class: ("active" if out.equal? @output.first)}
              %table.table{style:"font-size:10px"}
                %thead
                %tbody{id:"financial_statement"}
                  - out[:data][:data].each do |row|
                    %tr
                    - unless ["Operating expenses", "Earnings per share", "Weighted average shares outstanding", "Assets", "Current assets", "Cash", "Non-current assets", "Property, plant and equipment", "Liabilities and stockholders' equity", "Liabilities", "Current liabilities", "Cash Flows From Operating Activities", "Cash Flows From Investing Activities", "Cash Flows From Financing Activities", "Free Cash Flow"].include? row[0]
                      %td 
                        %input{name: "vehicle", type: "checkbox", value: "Highlight"}
                    - else
                      %td
                    - row.each do |elem|
                      %td 
                        - if out[:data][:data].first == row
                          %b 
                            = elem
                        -else
                          - if elem == "Operating expenses" or elem == "Earnings per share" or elem == "Weighted average shares outstanding" or elem == "Cash Flows From Operating Activities" or elem == "Cash Flows From Financing Activities" or elem == "Free Cash Flow" or elem == "Cash Flows From Investing Activities" 
                            %b
                              = elem 
                          - else
                            = (elem.to_i == 0 or out[:data][:data].first == row) ? elem : number_to_currency(elem.to_f / 1000000) 
               
                    
              
