#main-query-info
  - unless @intent.name == "Institutional Holdings"
    %ul
      - @output.each do |out|
        %li 
          = @intent.name 
          for 
          %strong
            = out[:ticker]
          is 
          %strong 
            = out[:data]
  - else
    #13f
      %ul.nav.nav-tabs
        - @output.each do |out|
          %li{class: ("active" if out.equal? @output.first)}
            %a{href: "##{out[:ticker]}tab", data: {toggle: 'tab'}}
              = out[:ticker]
      .tab-content
        - @output.each do |out|
          .tab-pane{id: "#{out[:ticker]}tab"}
            %table.table
              %thead
                %tr
                  %th Stock
                  %th Activity
                  %th Share change
                  %th % change to Portfolio
              %tbody
                - out[:data].each do |row|
                  -debugger
                  %tr
                    %td
                      = row["stock"]["text"]
                    %td
                      = row["activity"]
                    %td
                      = row["share_change"] 
                    %td
                      = row["percentage"]