#main-query-info
  - unless @intent.name == "Institutional Holdings" or @intent.name == "Income Statement" or @intent.name = "Default"
    %ul
      - @output.each do |out|
        %li 
          - if @intent.name == "Total cash"
            = @intent.name + " (mrq)"
          - else
            = @intent.name
          for 
          %strong
            = out[:ticker]
          is 
          %strong 
            = out[:data]
  - else
    - if @intent == "Institutional Holdings"
      #13f
        %ul.nav.nav-tabs
          - @output.each do |out|
            %li{class: ("active" if out.equal? @output.first)}
              %a{href: "##{out[:ticker]}tab", data: {toggle: 'tab'}}
                = out[:ticker]
        .tab-content
          - @output.each do |out|
            .tab-pane{id: "#{out[:ticker]}tab", class: ("active" if out.equal? @output.first)}
              %table.table
                %thead
                  %tr
                    %th Stock
                    %th Activity
                    %th Share change
                    %th % change to Portfolio
                %tbody
                  - out[:data].each do |row|
                    %tr
                      %td
                        = row["stock"]["text"]
                      - if row["activity"].include? "Add" or row["activity"].include? "Buy"
                        %td{style: "color:#177D0A"}
                          = row["activity"] 
                      - else 
                        %td{style: "color:#C40606"}
                          = row["activity"] 
                      %td
                        = row["share_change"] 
                      %td
                        = row["percentage"] + '%'
    - else
      #IncomeStatment
        %ul.nav.nav-tabs
          - @output.each do |out|
            %li{class: ("active" if out.equal? @output.first)}
              %a{href: "##{out[:ticker]}tab", data: {toggle: 'tab'}}
                = out[:ticker]
        .tab-content
          - @output.each do |out|
            .tab-pane{id: "#{out[:ticker]}tab", class: ("active" if out.equal? @output.first)}
              %table.table
                %thead
                  %tbody
                  - out[:data][:data].each do |row|
                    %tr 
                      - row.each do |elem|
                        %td 
                          = elem
