<!DOCTYPE html>
<html>
<head>
  <title>PennyWhale</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Montserrat:400,700', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>", class="<%= action_name %>">

<%= yield %>

<!--start of Offerchat js code--><script type='text/javascript'>var ofc_key = '7b5eaa1af593d331f8e79e19b04ae2d7';(function(){  var oc = document.createElement('script'); oc.type = 'text/javascript'; oc.async = true;  oc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'd1cpaygqxflr8n.cloudfront.net/p/js/widget.min.js?r=1';  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(oc, s);}());</script><!--end of Offerchat js code-->
</body>
</html>
